@import "settings.scss";

body {
  font-family: "Nunito", sans-serif;
  position: relative;
  height: 100%;
}

.switchWrapper {
  position: relative;
  transition: 0.4s;
  height: 100%;

  > :first-child ~ * {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.4s;
  }
}
